body {
	padding-top: 40px;
	background-color: #F4F4F4;
}

.status {
	width: 100%;
	margin-bottom: 10px;
	padding: 5px 15px 10px;
	box-sizing: border-box;
	background-color: #fff;
}

.status__titleBox {
	height: 38px;
	line-height: 38px;
	position: relative;
}

.status__img {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 9px;
	left: 0;
}

.status__title {
	padding-left: 23px;
	font-size: 14px;
	color: #f02804;
	font-weight: normal;
}

.status__loan,.status__time {
	font-size: 14px;
	color: #222;
	line-height: 24px;
}

.backAddr {
	margin-bottom: 10px;
	padding: 15px;
	background-color: #fff;
	font-size: 14px;
}
.backAddr__title {
	margin-bottom: 15px;
	line-height: 14px;
	color: #666;
}
.backAddr__txt {
	line-break: 19px;
	color: #222;
}


.logistical {
	margin-bottom: 30px;
	background-color: #fff;
}
.logistical__item {
	height: 44px;
	padding: 0 15px;
	line-height: 44px;
	position: relative;
}
.logistical__item:first-child:after {
	content: '';
	display: block;
	width: 100%;
	border-bottom: 1px solid #e9e9e9;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: scaleY(0.5);
	-webkit-transform: scaleY(0.5);
}
.logistical__title {
	height: 100%;
	font-size: 14px;
	color: #222;
	position: absolute;
	top: 0;
	left: 15px;
}

.logistical__mark {
	color: #F02804;
	font-weight: bolder;
}

.logistical__selBox {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-left: 80px;
}

.logistical__select {
	-webkit-appearance: initial;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	border: none;
	font-size: 14px;
	color: #222;
	background: url(../../img/icon/Triangle2-bot@3x-min.png) no-repeat right center;
	background-size: 12px 12px;
}

.logistical__input {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-left: 80px;
	font-size: 14px;
	color: #222;
}
.btnBox {
	padding: 0 15px;
}
.btnBox__btn {
	width: 100%;
	height: 40px;
	background-color: #F02804;
	border-radius: 2px;
	font-size: 16px;
	color: #fff;
}
