<!DOCTYPE html>
<html>

	<head>
		<script src="../../plugin/dataStatistics.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugin/aide.js?v=201610170912" async></script>
		<script src="businessInv.js?v=201610170912" async></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width = device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1" />
		<meta content="telephone=no" name="format-detection" />
		<title>招商入驻</title>
		<link rel="stylesheet" type="text/css" href="businessInv.css?v=201610170912" />
	</head>

	<body>
		<header class="header">
			<img class="headerPub__back" src="../../img/icon/icon_back@3x.png" />
			<p class="headerPub__title">岭南优品招商信息</p>
			<img class="headerPub__img" src="../../img/icon/share-min.png" />
		</header>
		<img class="banner" src="../../img/businessInv/bannerBI-min.png" />
		<section class="details">
			<h3 class="title">详情描述：</h3>
			<p class="txt">岭南优品是广东移动打造的一个定位于本地特色商品销售的B2C2C模式的分销平台，是一个基于手机终端的电子商务交易软件。产品将响应政府发展互联网+号召，聚集广东本地特色商家，利用广大客户返利推广模式，重点销售广东特产，致力为成为“最有广东味道”的广东特产销售平台，同时为山区精准扶贫探索一条互联网之路</p>
		</section>
		<section class="details">
			<h3 class="title">项目优势：</h3>
			<div class="txt">
				<p>1.品牌价值 </p>
				<p>中国移动的品牌价值非常高，信用背书将会使得广东移动发展电商更加容易</p>
				<p>2.用户价值 </p>
				<p>广东移动拥有庞大的用户群，可为移动社交电商提供最大的出口。手机用户会成为广东移动电商的第一批用户</p>
				<p>3.大量的线下门厅 </p>
				<p>线上线下相结合是电商发展的最终形态，移动公司广布的40000个渠道门厅资源为实现O2O提供了基本条件</p>
				<p>4.专业团队 </p>
				<p>移动公司一直处在信息社会发展的前沿，长期的经验积累为移动公司发展电商提供了人力保障</p>
				<p>5.商盟资源 </p>
				<p>和生活、12580、积分营销等业务积累的强大的商盟资源可满足移动电商的发展需要</p>
			</div>
		</section>
		<section class="details">
			<h3 class="title">加盟条件和流程：</h3>
			<div class="txt">
				<p>1.商家企业资质要求：暂不开放个人商家入驻</p>
				<p>2.需要商家提供：企业资质文件+特殊产品资质</p>
				<p>3.入驻流程</p>
			</div>
			<div class="flowChart">
				<p class="flowChart__item">入驻申请</p>
				<img class="flowChart__icon" src="../../img/businessInv/jiantou-min.png" />
				<p class="flowChart__item">提交资质和合同</p>
				<img class="flowChart__icon" src="../../img/businessInv/jiantou-min.png" />
				<p class="flowChart__item">缴纳相关费用</p>
				<img class="flowChart__icon" src="../../img/businessInv/jiantou-min.png" />
				<p class="flowChart__item">产品上架</p>
			</div>
		</section>
		<section class="details">
			<h3 class="title">联系方式：</h3>
			<div class="txt">
				<p>招商经理胡寅贵：13632575566<br />微信：13632575566<br />邮箱：hu.yingui@vpclub.cn</p><br />
				<p>招商经理宋珊珊：18520346630<br />微信：18520346630<br />邮箱：song.shanshan@vpclub.cn</p>
			</div>
		</section>
		<section class="details">
			<h3 class="title">邮件要求：</h3>
			<div class="txt">
				<p>1.供应商全称：</p>
				<p>供应商：公司名称，如“供应商：XX公司”</p>
				<p>2.发送方式：</p>
				<p>发送邮件</p>
				<p>3.邮件内容：</p>
				<p class="li">详细信息（联系人，联系地址，联系电话）</p>
				<p class="li">公司简介（公司简介、公司网址、注册资本、供应商级别 （厂商、国代、一级代理、二级代理、其他）、所销售品。）</p>
				<p class="li">是否能开增值税发票</p>
				<p class="mark">注：您的每一份邮件我们会详细审阅，并在3个工作日内给予答复。</p>
			</div>
		</section>
	</body>

</html>