<!DOCTYPE html>
<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<script src="../../plugin/dataStatistics.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugin/aide.js?v=201610170912" async></script>
		<script src="../../plugin/app.min.js?v=201609011717" async></script>
		<script src="trafficPack.js?v=201609011717" async></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width = device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1" />
		<meta content="telephone=no" name="format-detection" />
		<title>流量红包券</title>
		<link rel="stylesheet" type="text/css" href="../../public-style/style.min.css?v=201609011717"/>
		<link rel="stylesheet" type="text/css" href="trafficPack.min.css?v=201609011717"/>
	</head>

	<body class="liuliang">

		<header class="back-tit">
			<img class="back-but" src="../../img/icon/icon_back@3x.png" /> 流量红包券
		</header>

		<section class="ban">
			<div class="border-linear-bottom">
				<p>广东移动</p>
				<div id="paid-name"></div>
			</div>
			<footer>
				<div id="dh-but" class="border-linear-right">
					<img src="../../img/icon/duihuan-min.png" /> 兑换
				</div>
				<div id="zz-but">
					<img src="../../img/icon/zhuanzeng-min.png" /> 转赠流量
				</div>
			</footer>
		</section>

		<section class="tex">
			使用说明：<br />
			 1、兑换：点击兑换按钮后，流量红包会稍后充值到您的手机号码。 <br />
			 2、转赠：点击转赠按钮后，你需要输入需要转赠的号码，确定赠送后，流量奖励会稍后充值到您转赠的手机号码，转赠成功。<br />
			 3、流量红包的兑换或转赠截止日期为：<span id='date'></span>
		</section>
	</body>

</html>