<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<script src="../../plugin/dataStatistics.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugin/aide.js?v=201610170912" async></script>
		<script src="../../plugin/app.js?v=201609181415" async></script>
		<script src="login.js?v=201609011717" async></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width = device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1" />
		<meta content="telephone=no" name="format-detection" /> 
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="../../public-style/style.min.css?v=201609011717"/>
		<link rel="stylesheet" type="text/css" href="login.min.css?v=201609011717"/>
	</head>

	<body class="background">
		
		<img class="logo" src="../../img/icon/logo3x-min.png"/>
		
		<form class="fo">
			
			<input class="row acc" type="tel" placeholder="请输入账号"/>
			
			<input class="row pas" type="password" placeholder="请输入密码"/>
			
			<input id="but" type="submit" value="登录" />
			
		</form>
	</body>

</html>