<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<script src="../../plugin/dataStatistics.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugin/aide.js?v=201610170912" async></script>
		<script src="../../plugin/app.js?v=201609181415" async></script>
		<script src="activeDetails.js?v=201609011717" async></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width = device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1" />
		<meta content="telephone=no" name="format-detection" />
		<title>活动详情</title>
		<link rel="stylesheet" type="text/css" href="../../public-style/style.css?v=201610170912" />
		<link rel="stylesheet" type="text/css" href="activeDetails.css?v=201609011717" />
	</head>

	<body>

		<header class="back-tit">
			<img class="back-but" src="../../img/icon/icon_back@3x.png" /> 活动详情
		</header>

		<div class="act-img">
			<img src="../../img/del/1.png" />
		</div>

		<div class="con">
			<p>兑换说明：</p>
			<div>1，登录送：当月成功登陆一次，赠送100M（当月非首次登陆不再赠送）</div>
		</div>
	</body>

</html>