<!DOCTYPE html>
<html>
	<head>
		<script src="../../plugin/dataStatistics.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugin/aide.js?v=201610170912" async></script>
		<script src="../../plugin/app.js?v=201609181415" async></script>
		<script src="actSession.js?v=201609011717" async></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width = device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1" />
		<meta content="telephone=no" name="format-detection" />
		<title>领券中心</title>
		<link rel="stylesheet" type="text/css" href="../../public-style/style.css?v=201610170912"/>
		<link rel="stylesheet" type="text/css" href="voucherCenter.css?v=201609011717"/>
	</head>
	<body>
		<header class="headerPub">
			<img class="back-but" src="../../img/icon/icon_back@3x.png"/>
			<p class="headerPub__title">活动专场</p>
		</header>
		<section class="sortBox">
			<div class="sortBox__itemBox" type='6'>
				<span class="sortBox__txtAct">最新</span>
			</div>
			<div class="sortBox__itemBox" type='2'>
				<span class="sortBox__txt">销量</span>
				<span class="sortBox__iconNone"></span>
			</div>
			<div class="sortBox__itemBox" type='8'>
				<span class="sortBox__txt">返利</span>
				<span class="sortBox__iconNone"></span>
			</div>
			<div class="sortBox__itemBox" type='3'>
				<span class="sortBox__txt">库存</span>
				<span class="sortBox__iconNone"></span>
			</div>
		</section>
		<section class="actListBox">
			<div class="actListBox__itemBox">
				<p class="actListBox__imgBox">
					<img class="actListBox__img" src="../../img/img001-min.png"/>
				</p>
				<p class="actListBox__title">胚芽公举 综合果干 格兰诺拉即食烤燕麦片 低卡零食麦片 低卡零食</p>
				<div class="actListBox__infoBox">
					<span class="actListBox__nowPri">￥<span>88.00</span></span>
					<span class="actListBox__olePri">￥<span>88.00</span></span>
					<span class="actListBox__profit">返利：<span>0.50</span></span>
				</div>
			</div>
			<div class="actListBox__itemBox">
				<p class="actListBox__imgBox">
					<img class="actListBox__img" src="../../img/img001-min.png"/>
				</p>
				<p class="actListBox__title">胚芽公举 综合果干 格兰诺拉即食烤燕麦片 低卡零食麦片 低卡零食</p>
				<div class="actListBox__infoBox">
					<span class="actListBox__nowPri">￥<span>88.00</span></span>
					<span class="actListBox__olePri">￥<span>88.00</span></span>
					<span class="actListBox__profit">返利：<span>0.50</span></span>
				</div>
			</div>
			<div class="actListBox__itemBox">
				<p class="actListBox__imgBox">
					<img class="actListBox__img" src="../../img/img001-min.png"/>
				</p>
				<p class="actListBox__title">胚芽公举 综合果干 格兰诺拉即食烤燕麦片 低卡零食麦片 低卡零食</p>
				<div class="actListBox__infoBox">
					<span class="actListBox__nowPri">￥<span>88.00</span></span>
					<span class="actListBox__olePri">￥<span>88.00</span></span>
					<span class="actListBox__profit">返利：<span>0.50</span></span>
				</div>
			</div>
			<div class="actListBox__itemBox">
				<p class="actListBox__imgBox">
					<img class="actListBox__img" src="../../img/img001-min.png"/>
				</p>
				<p class="actListBox__title">胚芽公举 综合果干 格兰诺拉即食烤燕麦片 低卡零食麦片 低卡零食</p>
				<div class="actListBox__infoBox">
					<span class="actListBox__nowPri">￥<span>88.00</span></span>
					<span class="actListBox__olePri">￥<span>88.00</span></span>
					<span class="actListBox__profit">返利：<span>0.50</span></span>
				</div>
			</div>
			<div class="actListBox__itemBox">
				<p class="actListBox__imgBox">
					<img class="actListBox__img" src="../../img/img001-min.png"/>
				</p>
				<p class="actListBox__title">胚芽公举 综合果干 格兰诺拉即食烤燕麦片 低卡零食麦片 低卡零食</p>
				<div class="actListBox__infoBox">
					<span class="actListBox__nowPri">￥<span>88.00</span></span>
					<span class="actListBox__olePri">￥<span>88.00</span></span>
					<span class="actListBox__profit">返利：<span>0.50</span></span>
				</div>
			</div>
			<div class="actListBox__itemBox">
				<p class="actListBox__imgBox">
					<img class="actListBox__img" src="../../img/img001-min.png"/>
				</p>
				<p class="actListBox__title">胚芽公举 综合果干 格兰诺拉即食烤燕麦片 低卡零食麦片 低卡零食</p>
				<div class="actListBox__infoBox">
					<span class="actListBox__nowPri">￥<span>88.00</span></span>
					<span class="actListBox__olePri">￥<span>88.00</span></span>
					<span class="actListBox__profit">返利：<span>0.50</span></span>
				</div>
			</div>
			<div class="actListBox__itemBox">
				<p class="actListBox__imgBox">
					<img class="actListBox__img" src="../../img/img001-min.png"/>
				</p>
				<p class="actListBox__title">胚芽公举 综合果干 格兰诺拉即食烤燕麦片 低卡零食麦片 低卡零食</p>
				<div class="actListBox__infoBox">
					<span class="actListBox__nowPri">￥<span>88.00</span></span>
					<span class="actListBox__olePri">￥<span>88.00</span></span>
					<span class="actListBox__profit">返利：<span>0.50</span></span>
				</div>
			</div>
		</section>
	</body>
</html>
