<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<script src="../../plugin/dataStatistics.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugin/aide.js?v=201610170912" async></script>
		<script src="../../plugin/app.js?v=201609181415" async></script>
		<script src="voucherCenter.js?v=201609011717" async></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width = device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1" />
		<meta content="telephone=no" name="format-detection" />
		<title>领券中心</title>
		<link rel="stylesheet" type="text/css" href="../../public-style/style.css?v=201610170912"/>
		<link rel="stylesheet" type="text/css" href="voucherCenter.css?v=201609011717"/>
	</head>

	<body>

		<header class="back-tit">
			<img class="back-but" src="../../img/icon/icon_back@3x.png" /> 领券中心
		</header>

		<section class="men">
			<div>
				<span class="act">商品</span>
				<span>智能数码</span>
				<span>智能数码</span>
				<span>智能数码</span>
				<span>智能数码</span>
				<span>智能数码</span>
				<span>智能数码</span>
				<span>智能数码</span>
			</div>
			<button statu="down"></button>
		</section>

		<section class="tex">
			每天20点抢20元全品类券
		</section>

		<section class="box">
			<div>
				<div class="left">
					<p>
						<img src="../../img/del/300x300.png" />
						五月小店优惠券
					</p>
					满299元使用<br />
					使用期限2016.5.6-2016.5.10
				</div>
				<div class="rig">
					<p>
						<span>¥</span>30
					</p>
					立即领取
				</div>
			</div>
			
			<div>
				<div class="left">
					<p>
						<img src="../../img/del/300x300.png" />
						五月小店优惠券
					</p>
					满299元使用<br />
					使用期限2016.5.6-2016.5.10
				</div>
				<div class="rig">
					<p>
						<span>¥</span>30
					</p>
					立即领取
				</div>
			</div>
		</section>
		
		<aside id="sel">
			<div id='sel_main' class="sels">
				<span class="act">食品饮料</span>
				<span>食品饮料</span>
				<span>食品饮料</span>
				<span>食品饮料</span>
				<span>食品饮料</span>
				<span>食品饮料</span>
				<span>食品饮料</span>
				<span>食品饮料</span>
				<span>食品饮料</span>
				<span>食品饮料</span>
			</div>
		</aside>
	</body>

</html>