<!DOCTYPE html>
<html>

	<head>
		<script src="../../plugin/dataStatistics.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugin/aide.js?v=201610170912" async></script>
		<script src="../../plugin/app.js?v=201609181415" async></script>
		<script src="findDetails.js?v=201610170912" async></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width = device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="msapplication-tap-highlight" content="no" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1" />
		<meta content="telephone=no" name="format-detection" />
		<title>发现</title>
		<link rel="stylesheet" type="text/css" href="../../public-style/style.css?v=201610170912"/>
		<link rel="stylesheet" type="text/css" href="findDetails.css?v=201610170912"/>
	</head>

	<body>
		<header class="headerPub">
			<img class="headerPub__back" src="../../img/icon/icon_back@3x.png" />
			<p class="headerPub__title">发现</p>
			<img class="headerPub__img" src="../../img/icon/share-min.png"/>
		</header>
		<h3 class="mainTitle"></h3>
		<p class="subTitle"></p>
		<p class="creatTime"></p>
		<section class="mainContent" repeat='mainContent'>
			<div class="mainContent__item">
				<p class="mainContent__txt"></p>
				<div class="mainContent__imgBox">
					<img class="mainContent__img" />
					<div class="gotoNext"></div>
				</div>
				<div class="mainContent__video"></div>
				<div class="mainContent__videoLive"></div>
			</div>
		</section>
	</body>

</html>